@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: none;
}

a:active, a:focus,input:active, input:focus{outline:0;}


/* ヘッダー
------------------------------------------------------------*/
#header{
	text-align: center;
}

#header h1{
	padding-top: 60px;
}


#mainnav a{
	color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*ここから変更*/
    background: transparent;
    position: relative;
    z-index: 1;
    transition: .3s;
}
#mainnav a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease .3s;
}

/*header要素をかっこよく*/
#mainnav .h_btn a:hover{
    color: #fff;
}
#mainnav .h_btn a:hover:before{
    transform-origin: 0% 50%;
    transform: scaleX(1)
}

#classList1 a:hover ,#classList2 a:hover,#classList3 a:hover ,#classList4 a:hover,#classList5 a:hover,#classList6 a:hover{
    color: #fff;
}
#classList1 a:hover:before ,#classList2 a:hover:before,#classList3 a:hover:before ,#classList4 a:hover:before,#classList5 a:hover:before,#classList6 a:hover:before{
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
/*かっこよさ追及はここまで*/

.dropdwn_menu{
    display: none;
}

/*ここまでが共通のheaderの設定終了*/

/*ここからSNSリンクの設定開始*/
#snsLink{
	width: 100%;
	position: fixed;
		top: 20px;
		left: 50%;
		z-index: 1000;
}

#snsLink .logoLinkAll{
	text-align: center;
	margin-bottom: 10px;
	display: block;
	background-color: #fff;
}

.logodesign{
	margin-right: 10%;
	transition: 0.1s all;
}

.logodesign:hover{
	transform:scale(1.5,1.5);
	transition:0.5s all;
}

.logoNone{
	display: none;
}
/*ここまででSNSリンク設定終了*/

/*ここからトップページの設定開始*/
#topTerm{
	width: 50%;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
#clubeTerm p{
	font-family: "Hiragino Sans","ヒラギノ角ゴシック";
	font-weight: bold;
	
}

#topArticle{
	width: 70%;
	text-align: center;
	display: block;
	margin: 0 auto;
}

#newsAll,#snsAll{
	margin-top: 50px;
}

#newsAll h1,#accessAll h1{
	font-size: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	border-bottom: solid #000;
	display: inline;
	margin-top: 100px;
	margin-bottom: 100px;
}

.rowChild a:hover{
	opacity: 0.7;
}

#snsBody,#accessBody{
	margin-top: 30px;
}

#snsAll h1{
	font-size: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	border-bottom: solid #000;
	display: inline;
	margin-bottom: 30px;
}

#newsBody{
	margin-top: 20px;
}

#accessAll{
	padding: 100px 0;
}

#accessAll div p{
	margin: 20px 0;
	font-size: 30px;
}

.nowBtn{
	border: solid #000;
	color: #000;
	background-color: #fff;
}

.newJudge{
	background-color: red;
	color: #fff;
	padding: 0 5px;
	margin-left: 10px;
}

.card-link{
	margin-left: 0;
	margin-right: 10px;
	float: right;
}

.pastPost{
	display: block;
	text-align: center;
	margin-top: 100px;
}

.pastPost a{
	border:#000 solid 3px;
	font-weight: 600;
	color: #000;
	padding: 10px 30px;
	border-radius:25px;
	transition: all .2s;
}

.pastPost a:hover{
	color: #fff;
	background-color: #000;
}

/*SNSのタイムライン埋め込み部分*/
.snsA h3{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #000;
	text-align: center;
	padding-right: 20%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*ここまででトップページの設定終了*/

/*ここからaccess部分*/
#changeMap input{
	margin: 0 10px 10px;
	font-weight: 600;
	padding: 20px;
	font-size: 20px;
}

/* フッター共通部分
------------------------------------------------------------*/
#footer{
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 12px;
}


/* 共通　ここから先は消しておいて影響ないならいらない。
------------------------------------------------------------
*/
img{
	max-width: 100%;
	height: auto;
}



/* RESPONSIVE 設定
------------------------------------------------------------*/
@media only screen and (min-width: 1400px){
	.inner{
		width: 900px;
	}


    #mainnav a{
        font-size: 35px;
    }

}

/*1200px以上*/
@media only screen and (min-width: 1200px){
	.inner{
		width: 900px;
	}


    #mainnav a{
        font-size: 25px;
    }

}


@media only screen and (min-width:1000px){
	#snsLink .logoLinkAll{
		width:1400px;
	}
}


@media only screen and (min-width:901px){
	.card-body div{
		font-size: 23px;
	}

	.card-body{
		font-size: 19px;
		font-weight: bold;
	}
}


/*800px以上900px以下の時の対応*/
@media only screen and (min-width:800px) and (max-width:900px){
	#classList1 a,#classList2 a,#classList3 a,#classList4 a,#classList5 a,#classList6 a{
		font-size: 18px;
	}

	.card-body div{
		font-size: 20px;
	}

	.card-body{
		font-size: 15px;
		font-weight: bold;
	}
}
/*800PX以上*/
@media only screen and (min-width: 800px){
	body{
		font-size:14px;
	}
	
    a#menu{
		display:none;
	}	

	.panel{
        font-size: 20px;
		display:block !important;
	}

	#mainnav{
		margin-bottom: 20px;
	}

    #mainnav a{
        display: block;
    }
	
	#classList1 ul,#classList2 ul{
		position: absolute;
		z-index: 50;
		background-color: #fff;
		width:17%;
		border:solid 3px #000;
	}
	

	#classList1,#classList2,#classList3,#classList4,#classList5,#classList6{
		padding-right: 0;
		padding-left: 0;

	}

	#classList1 a,#classList2 a,#classList3 a,#classList4 a,#classList5 a,#classList6 a{
		padding: 20px 0;
	}

	#snsLink .logoLinkAll{
		width: 100%;
		position: fixed;
		top: 0px;
		left: 50%;
		z-index: 1000;
		transform: translateX(-50%);
		height: auto;
		padding: 30px;
	}

	#snsLink .logoLinkAll h1{
		font-size: 30px;
		padding: 20px;
	}

	.logodesign{
		width: 5%;
	}

	#topArticle{
		font-size: 20px;
	}

	.rowChild{
		padding: 0 5px 10px 5px;
	}

	.card-body{
		background-color: #e7e7eb;
	}

	.rowChild img{
		object-fit: cover;
		height: 200px;
	}

	.card-body a{
		color: #000;
	}

	.card-body button{
		margin-top: 5px;
	}

	.pastPost a{
		font-size: 25px;
	}

	.snsA{
		float: left;
		display:inline;
		width: 50%;
	}

	#accessAll{
		margin-top: 800px;
	}

	/* SEC03 PROJECT
	-----------------*/
	.col3{
		text-align: center;
	}

	.col3 li{
		display: inline-block;
		width: 28%;
		padding: 0 2.5% 50px;
		margin-bottom: 0;
		vertical-align: top;
		text-align: left;
	}
	
  #footer{
		padding: 30px 10px 70px 0;
	}
}
/*800px以上はここまで*/


/*800px未満はここから*/

@media only screen and (max-width: 799px){
	#header{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 500;
	}
    /*header要素をかっこよく*/
	#mainnav .h_btn a:hover{
        color: #fff;
    }
    #mainnav .h_btn a:hover:before{
        transform-origin: 0% 50%;
        transform: scaleX(1)
    }
    
    #classList3 a:hover ,#classList4 a:hover,#classList5 a:hover,#classList6 a:hover{
        color: #fff;
    }
    #classList3 a:hover:before ,#classList4 a:hover:before,#classList5 a:hover:before,#classList6 a:hover:before{
        transform-origin: 0% 50%;
        transform: scaleX(1);
    }
    /*かっこよさ追及はここまで*/

	#mainDiv{
		width: 100%;
		display: inline;
	}

	#slideshow{
		padding-top: 71px;
		width: 100%;
	}

	#headerWrap{
		position: relative;
		width: 100%;
		height: 70px;
		background: #fff;
		border-bottom: 1px solid #ccc;
	}
	
	#header h1{
		padding-top: 10px;
	}
	
	#header h1 img{
		margin-top: 3px;
		max-height: 45px;
		width: auto !important;
	}

  a#menu{
  	display: inline-block;
  	position: relative;
  	width: 40px;
  	height: 40px;
  	margin: 10px;
	}

	#menuBtn{
  	display: block;
  	position: absolute;
  	top: 60%;
  	left: 50%;
  	width: 18px;
  	height: 2px;
  	margin: -1px 0 0 -7px;
  	background: #000;
  	transition: .2s;
	}

	#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 2px;
  	background: #000;
  	transition: .3s;
	}

	#menuBtn:before{
  	margin-top: -7px;
	}

	#menuBtn:after{
  	margin-top: 5px;
	}

	a#menu .close{
  	background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

	a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

	#mainnav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display:block;
		padding:15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
        font-size: 20px;
	}

    .dropdwn_menu{
        margin-left: 30px;
    }

	#snsLink .logoLinkAll{
		width: 100%;
		margin-bottom: 10px;
		position: fixed;
		top: 70px;
		left: 50%;
		z-index: 1000;
		transform: translateX(-50%);
		background-color: #fff;
		padding: 10px 0;
	}
	.logoLinkAll h1{
		padding-bottom: 5px;
	}

	.logodesign{
		width: 7%;
	}

	#topArticle{
		width: 100%;
	}

	#topArticle{
		font-size: 10px;
	}

	.rowChild{
		display: inline;
		background-color: rgb(241, 240, 240);
		margin-bottom: 10px;
		height:130px
	}

	.rowChild img{
		/*2022/07/26一時的に削除
		
		height: 100%;
		*/
		width: 35%;
		height: 130px;
		object-fit: cover;
		vertical-align: top;
	}

	.card-body{
		display: inline-block;
		flex:none;
		width: 60%;
		padding: 16px 0 0 8px;
	}

	.card-body div{
		font-size: 15px;
		font-weight: bold;
	}

	.card-body p{
		font-size: 12px;
		font-weight: bold;
	}

	.card-body a{
		color: #000;
	}

	.card-body .card-link{
		margin-left: 0;
		font-size: 10px;
	}

	.pastPost a{
		font-size: 20px;
	}

	.snsA{
		margin: 20px 0;
		border: #000 solid 1px;
		width: 80%;
	}
	/*ACCESS of css setting */
	#accessAll div p{
		font-size: 20px;
	}

	#accessBody input{
		padding: 10px;
		font-size: 15px;
	}

	#accessBody p{
		font-size: 15px;
	}
}