{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="最新技術と自然との調和を目指す">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block static_css %}{% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.8.0.min.js' %}"></script>
    {% block static_middle_js %}{% endblock %}
    <script src="{% static 'js/base.js' %}" charset="utf-8"></script>
    {% block static_js %}{% endblock %}
</head>

<body id="top">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v14.0" nonce="xNQCbvmJ"></script>
    <header id="header">
		<div id="headerWrap">
			<h1><a href="{% url 'footsal:index' %}"><img src="{% static 'img/logoSundayfc.jpg' %}" width="142" height="80" alt="logo"></a></h1>
			<nav id="mainnav">
				<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
                <div class="panel">
                    <ul class="dropdwn row">
                        <li id="classList1" class="">
                            <a class="kari">T  O  P</a>
                            <ul class="dropdwn_menu h_btn">
                                <a href="{% url 'footsal:index' %}"><li class="">CLUB TOP PAGE</li></a>
                                <a href="#"><li class="">MOVIE</li></a>
                            </ul>
                        </li>
                        <li id="classList2" class="">
                            <a class="kari">FOOTSAL・SCHOOL</a>
                            <ul class="dropdwn_menu h_btn">
                                <a href="{% url 'footsal:legend' %}"><li class="">SUNDAY FC LEGEND</li></a>
                                <a href="{% url 'footsal:school' %}"><li class="">SCHOOL</li></a>
                            </ul>
                        </li>
                        <li id="classList3" class="h-btn"><a href="#">MATCH RESULT</a></li>
                        <li id="classList4" class="h-btn"><a href="{% url 'footsal:photoGallery' %}">PHOTO GALLERY</a></li>
                        <li id="classList5" class="h-btn2"><a href="{% url 'footsal:schedule' %}">SCHEDULE</a></li>
                        <li id="classList6" class="h-btn2"><a href="{% url 'footsal:contact' %}">CONTACT</a></li>
                    </ul>
                </div>
			</nav>
		</div>
	</header>
    <div id="snsLink" class="logoNone">
        <div class="logoLinkAll">
            <h1>下記はSUNDAY FCのSNSです。良ければフォローをお願い致します。</h1>
            <a href="https://www.facebook.com/%E3%82%B5%E3%83%B3%E3%83%87%E3%83%BCfc%E5%B8%82%E5%B7%9D%E5%B8%82%E8%88%B9%E6%A9%8B%E5%B8%82%E3%81%A7%E3%83%95%E3%83%83%E3%83%88%E3%82%B5%E3%83%AB-106282718225636/">
                <img  class="logodesign" src="{% static 'img/logo/facebookLogo.png' %}" alt="facebook_Link">
            </a>
            <a href="https://twitter.com/sundayfc2021">
                <img  class="logodesign" src="{% static 'img/logo/twitterLogo.png' %}" alt="twitter_Link">
            </a>
            <a href="https://www.instagram.com/sundayfc2021/?fbclid=IwAR2ko1d2alHXaD1AA_f57CaVjnkMcuk9mTK2qCw-ncJjDE9EInF6tMkSB3k">
                <img  class="logodesign" src="{% static 'img/logo/instagramLogo.png' %}" alt="instagram_Link">
            </a>
            <a  href="https://page.line.me/648oncvx?openQrModal=true">
                <img  class="logodesign" src="{% static 'img/logo/LINELogo.png' %}" alt="LINE_Link">
            </a>
            <a href="https://www.youtube.com/channel/UC83KkFw003prGCXYBXeGjKQ">
                <img  class="logodesign" src="{% static 'img/logo/YoutubeLogo.png' %}" alt="Youtube_Link">
            </a>
        </div>
    </div>
    {% block contents %}{% endblock %}

	<footer id="footer">
		Copyright(c) 2022 SUNDAY FC. All Rights Reserved. Design by CHACON
	</footer>
</body>
</html>





