{% extends 'base.html' %}
{% load static %}

{% block title %}{{news.title}}{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/detailPage.css' %}">
{% endblock %}


{% block static_js %}
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/slick_self.js' %}"></script>
{% endblock %}

{% block contents %}
    <div id="mainDiv" class="">
        <div id="slideshow" class="slider">
            <div><img src="{{ news.image1.url }}" alt="slide0"/></div>
            {% if news.image2 %}
            <div><img src="{{ news.image2.url }}" alt="slide1"/></div>
            {% endif %}
        </div>
        <div id="detailCon">
            <h1>タイトル：{{news.title}}</h1>
            <p>カテゴリ：{{news.category}}</p>
            <p>活動場所：{{news.place}}</p>
            <p>活動詳細：</p>
            <p>{{news.content}}</p>
        </div>
        <div id="backPage">
            <a href="{% url 'footsal:postAll' %}">&gt;&nbsp;&nbsp;&nbsp;BACK TO NEWS ALL PAGE</a>
        </div>
    </div>
{% endblock %}