{% extends 'base.html' %}
{% load static %}

{% block title %}{{news.title}}{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/detailPage.css' %}">
{% endblock %}


{% block static_js %}
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/slick_self.js' %}"></script>
{% endblock %}

{% block contents %}
    <div id="mainDiv" class="">
        <div id="detailCon">
            <h1>タイトル：{{photopost.title}}</h1>
            <p>カテゴリ：{{photopost.category}}</p>
            <p>投稿日時：{{photopost.posted_at| date:'Y/m/d'}}</p>
        </div>
        <div id = "mainphoto" class = "row row-cols-xs-4 row-cols-sm-6">
            {% for photo in photoonly %}
                <div ckass = "col">
                    <a href="#">
                        <img src="{{ photo.image1.url }}"  alt="No Image">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div id="backPage">
            <a href="{% url 'footsal:photoGallery' %}">&gt;&nbsp;&nbsp;&nbsp;BACK TO NEWS ALL PAGE</a>
        </div>
    </div>
{% endblock %}