{% extends 'base.html' %}
{% load date_filter %}
{% load static %}

{% block title %}{{title}}{% endblock %}


{% block static_css %}
    <link rel="stylesheet" href="{% static 'css/postAll.css' %}">
{% endblock %}


{% block static_js %}
<script src="{% static 'js/postAll.js' %}"></script>
{% endblock %}


{% block contents %}
    <div id="mainDiv" class="">
        <div id="newsAll">
            <div id="linkRoute">
                <a href="{% url 'footsal:index' %}">
                    <img id="topIcon" src="{% static 'img/homeIcon.png' %}" alt="topIcon"/>TOP
                </a>
                <span>&gt;&gt;&gt;</span>
                <a href="{% url 'footsal:postAll' %}">
                    NEWS ALL PAGE
                </a>
                {% if term != "NEWS ALL" %}
                    <span>&gt;&gt;&gt;</span>
                    <a href="#">
                        {{title}}
                    </a>
                {% endif %}
            </div>
            <h1>{{ term }}</h1>
            <div class="newsInfo">
                <p>
                    情報の発信を行っているので、こちらで気になる情報の確認をお願い致します。<br>
                    直近や現在決まっている予定に関してはSCHEDULEから確認をお願い致します。
                </p>
            </div>
            <div id="newsBody" class="row">
                {% for new in news %}
                    <div id="{{new.id}}_main" class="card rowChild" style="border:none;">
                        <a href="{% url 'footsal:detail' new.pk %}" class="Image"><img src="{{ new.image1.url }}"  alt="No Image"></a>
                        <div class="card-body">
                            <p>
                                投稿日時：{{ new.posted_at | date:'Y/m/d'}}
                                {% if new.posted_at|is_new %}
                                    <span class="newJudge">
                                        NEW
                                    </span>
                                {% endif %}
                            </p>
                            <div class="">{{ new.title }}</div>
                            <a href="{% url 'footsal:detail' new.pk %}"><p class="card-text text_limit">{{new.content}}</p></a>
                            <button id="{{new.id}}_place"class="card-link btn btn-dark" onclick="limit2Cate('{{new.category}}')">{{new.category}}</button>
                            <button class="card-link btn btn-dark" onclick="limit2Place('{{ new.place }}')">{{ new.place }}</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <script type="text/javascript">
                function limit2Cate(cate){
                    if(cate == "SCHOOL"){
                        window.location.href = "{% url 'footsal:school' %}";
                    }else{
                        window.location.href = "{% url 'footsal:legend' %}";
                    }
                }
                
                function limit2Place(place){
                    if(place == "船橋市運動公園体育館"){
                        window.location.href = "{% url 'footsal:funa' %}";
                    }else if(place == "国府台体育館"){
                        window.location.href = "{% url 'footsal:kono' %}";
                    }else if(place == "東部スポーツ体育館"){
                        window.location.href = "{% url 'footsal:tobu' %}";
                    }else if(place == "市川市塩浜体育館"){
                        window.location.href = "{% url 'footsal:ichi' %}";
                    }else{
                        window.location.href = "{% url 'footsal:kashiwa' %}";
                    }
                }
            </script>
        </div>
        {% include "pagination.html" %}
    </div>
{% endblock %}