{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Exchange & Travel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Include any necessary JavaScript files -->
</head>
<body>
    <header class = "absolute w-screen">
        <nav>
            <div class="logo">
                <img src="{% static 'images/logo.gif' %}" alt="Logo">
            </div>
            <ul>
                <li><a href="#exchange">為替レート</a></li>
                <li><a href="#destinations">旅行の目的地</a></li>
                <li><a href="#about">当社について</a></li>
            </ul>
        </nav>
    </header>
    
    {% block content %}
    
    {% endblock %}
    <!-- <main> 
        <section id="hero">
            Your hero section with a large image or video 
        </section>

        <section id="exchange">
            Your currency exchange form goes here 
        </section>

        <section id="destinations">
             Cards or list for travel destinations 
        </section>

        <section id="about">
             Information about your website goes here 
        </section>
    </main>  -->
    
    <footer class="mt-7 w-screen">
        <p>&copy; 2023 為替レート | 旅行 </p>
    </footer>
</body>
</html>
